services:
  web:
    build: .
    command: python manage.py runserver 0.0.0.0:8000
    volumes:
      - .:/app
    ports:
      - "8000:8000"
    depends_on:
      - redis
      - db

  worker:
    build: .
    command: celery -A backend worker --loglevel=info
    depends_on:
      - redis
      - db
    volumes:
      - .:/app

  beat:
    build: .
    command: celery -A backend beat --loglevel=info
    depends_on:
      - redis
      - db
    volumes:
      - .:/app

  redis:
    image: redis:latest

  db:
    image: postgres:15
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
